In [42]:
import numpy as np
import pandas as pd
import warnings

In [43]:
warnings.filterwarnings('ignore')

In [44]:
df=pd.read_csv('archive/ratings.csv')

In [45]:
df.head()

   user_id  movie_id  rating   timestamp
0      172     94969     5.0  1396067836
1      172     98956     4.0  1396067879
2      176     73881     4.0  1499807147
3      221      1900     4.5  1288550866
4      333     33688     4.0  1412015122

In [46]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [47]:

df['user_id'].nunique()

5667

In [48]:
df['movie_id'].nunique()

779

In [49]:
movie_title=pd.read_csv('archive/titles.csv')

In [50]:
movie_title.head()

   movie_id                                              title
0       139                                      Target (1995)
1       568                          Bhaji on the Beach (1993)
2      1900  Children of Heaven  The (Bacheha-Ye Aseman) (1...
3      2284                                Bandit Queen (1994)
4      5985                    Asoka (Ashoka the Great) (2001)

In [51]:
print(type(movie_title))

<class 'pandas.core.frame.DataFrame'>

In [52]:
df=pd.merge(df,movie_title,on='movie_id')

In [53]:
df.tail()

       user_id  movie_id  rating   timestamp                      title
17599   263047    176249     3.5  1501626732                 Mom (2017)
17600   272748    176249     3.5  1501737788                 Mom (2017)
17601   271060    192515     4.5  1534314400  Ramaiya Vastavaiya (2013)
17602   271113    186637     2.0  1523282838        Bobby Jasoos (2014)
17603   280887    164443     1.0  1481292995          Freaky Ali (2016)

In [54]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')

In [55]:
df.groupby('title').mean()['rating'].sort_values(ascending=False)

title
Shor in the City (2011)                                      5.000000
Hooligan (1998)                                              5.000000
Humpty Sharma Ki Dulhania (2014)                             5.000000
Samay: When Time Strikes (2003)                              5.000000
Hichki (2018)                                                4.750000
Death of a Doctor (1991)                                     4.750000
Sparsh (1980)                                                4.500000
99 (2009)                                                    4.500000
Ramaiya Vastavaiya (2013)                                    4.500000
Jungle (2000)                                                4.500000
Naram Garam (1981)                                           4.500000
Fiancee  The (Parineeta) (1953)                              4.300000
Prahaar: The Final Attack (1991)                             4.250000
Y.M.I. - Yeh Mera India (2009)                               4.250000
City Lights (2014)                                           4.250000
Shaadi Mein Zaroor Aana (2017)                               4.200000
Dasvidaniya (2008)                                           4.200000
Vaastav: The Reality (1999)                                  4.142857
Masoom (1983)                                                4.125000
Dor (2006)                                                   4.100000
Trapped (2017)                                               4.083333
Madaari (2016)                                               4.071429
The Legend of Bhagat Singh (2002)                            4.071429
Dhamaal (2007)                                               4.000000
Shool (1999)                                                 4.000000
Half Ticket (1962)                                           4.000000
U Me Aur Hum (2008)                                          4.000000
Raaz: The Mystery Continues... (2009)                        4.000000
Raazi (2018)                                                 4.000000
Accident on Hill Road (2010)                                 4.000000
                                                               ...
What's Your Raashee? (2009)                                  1.000000
Beti No. 1 (2000)                                            1.000000
Army (1996)                                                  1.000000
Roar (2014)                                                  1.000000
Khushi (2003)                                                0.875000
Tom  Dick And Harry (2006)                                   0.875000
Creature (2014)                                              0.833333
Ram Gopal Varma Ki Aag (2007)                                0.833333
Yeh Raaste Hain Pyaar Ke (2001)                              0.833333
Qayamat: City Under Threat (2003)                            0.750000
Suhaag (1994)                                                0.750000
Dil Ne Jise Apna Kahaa (2004)                                0.666667
Aiyyaa (2012)                                                0.666667
Race 3 (2018)                                                0.500000
Naughty @ 40 (2011)                                          0.500000
Shiva (2006)                                                 0.500000
The Train: Some Lines Shoulder Never Be Crossed... (2007)    0.500000
Jaane Hoga Kya (2006)                                        0.500000
Maine Dil Tujhko Diya (2002)                                 0.500000
Armaan (2003)                                                0.500000
Hawa (2003)                                                  0.500000
Ghost (2012)                                                 0.500000
Elaan (2005)                                                 0.500000
Dhund: The Fog                                               0.500000
D (2005)                                                     0.500000
Chura Liyaa Hai Tumne (2003)                                 0.500000
Bhoot Unkle (2006)                                           0.500000
Bhai (1997)                                                  0.500000
Baaghi 2 (2018)                                              0.500000
road (2002)                                                  0.500000
Name: rating, Length: 779, dtype: float64

In [56]:
df.groupby('title').count()['rating'].sort_values(ascending=False)

title
3 Idiots (2009)                                                            1394
Children of Heaven  The (Bacheha-Ye Aseman) (1997)                          900
Namesake  The (2006)                                                        581
Bhaji on the Beach (1993)                                                   396
PK (2014)                                                                   392
Bandit Queen (1994)                                                         385
Salaam Bombay! (1988)                                                       362
The Lunchbox (2013)                                                         352
Like Stars on Earth (Taare Zameen Par) (2007)                               316
My Name is Khan (2010)                                                      295
Paint It Yellow (Rang De Basanti) (2006)                                    231
Kahaani (2012)                                                              224
Wanted (2009)                                                               187
Dangal (2016)                                                               177
Sholay (1975)                                                               169
Gangs of Wasseypur (2012)                                                   167
Swades: We  the People (Our Country) (2004)                                 163
Dilwale Dulhania Le Jayenge (1995)                                          153
Fire (1996)                                                                 152
Om Shanti Om (2007)                                                         144
Chak De India! (2007)                                                       138
Jab We Met (2007)                                                           137
Zindagi Na Milegi Dobara (2011)                                             136
Ghajini (2008)                                                              132
Barfi! (2012)                                                               131
Sometimes Happiness  Sometimes Sorrow (Kabhi Khushi Kabhie Gham) (2001)     129
D.C.H. (Dil Chahta Hai) (2001)                                              120
Asoka (Ashoka the Great) (2001)                                             113
Jodhaa Akbar (2008)                                                         111
Veer Zaara (2004)                                                           107
                                                                           ...
Chashme Buddoor (1981)                                                        1
Chamku (2008)                                                                 1
Chaahat Ek Nasha... (2005)                                                    1
Bombay Talkie (1970)                                                          1
Bobby Jasoos (2014)                                                           1
Half Ticket (1962)                                                            1
Hattrick (2007)                                                               1
Hawa (2003)                                                                   1
Zokkomon (2011)                                                               1
Maalamaal (1988)                                                              1
Kyaa Super Kool Hain Hum (2012)                                               1
Kurukshetra (2000)                                                            1
Krantiveer (1994)                                                             1
Kill Dil (2014)                                                               1
Khubsoorat (1980)                                                             1
Khiladi 420 (2000)                                                            1
Khamosh (1985)                                                                1
Kalyug (2005)                                                                 1
Kaalo (2010)                                                                  1
Hero (1983)                                                                   1
Jungle (2000)                                                                 1
Johnny Gaddaar (2007)                                                         1
Jaane Hoga Kya (2006)                                                         1
Ittefaq                                                                       1
Humpty Sharma Ki Dulhania (2014)                                              1
Hum To Mohabbat Karega (2000)                                                 1
Householder  The (Gharbar) (1963)                                             1
Hotel Salvation (2016)                                                        1
Holi (1985)                                                                   1
100 Days (1991)                                                               1
Name: rating, Length: 779, dtype: int64

In [57]:
rating=pd.DataFrame(df.groupby('title').mean()['rating'])

In [58]:
rating.head()

                           rating
title
100 Days (1991)             1.000
1920 (2008)                 3.000
1920: Evil Returns (2012)   2.000
1942: A Love Story (1994)   2.500
2 States (2014)             3.125

In [59]:
rating['num of rating']=pd.DataFrame(df.groupby('title').count()['rating'])

In [60]:
rating.sort_values(by='rating',ascending=False)

                                                      rating  num of rating
title
Shor in the City (2011)                             5.000000              1
Humpty Sharma Ki Dulhania (2014)                    5.000000              1
Hooligan (1998)                                     5.000000              2
Samay: When Time Strikes (2003)                     5.000000              1
Death of a Doctor (1991)                            4.750000              2
Hichki (2018)                                       4.750000              2
Ramaiya Vastavaiya (2013)                           4.500000              1
Jungle (2000)                                       4.500000              1
99 (2009)                                           4.500000              1
Naram Garam (1981)                                  4.500000              1
Sparsh (1980)                                       4.500000              1
Fiancee  The (Parineeta) (1953)                     4.300000              5
Y.M.I. - Yeh Mera India (2009)                      4.250000              2
Prahaar: The Final Attack (1991)                    4.250000              2
City Lights (2014)                                  4.250000              2
Shaadi Mein Zaroor Aana (2017)                      4.200000              5
Dasvidaniya (2008)                                  4.200000              5
Vaastav: The Reality (1999)                         4.142857              7
Masoom (1983)                                       4.125000              4
Dor (2006)                                          4.100000              5
Trapped (2017)                                      4.083333              6
Madaari (2016)                                      4.071429              7
The Legend of Bhagat Singh (2002)                   4.071429              7
Pestonjee (1988)                                    4.000000              1
Raaz: The Mystery Continues... (2009)               4.000000              1
Raghu Romeo (2003)                                  4.000000              1
Mujhse Fraaandship Karoge (2011)                    4.000000              1
Force 2 (2016)                                      4.000000              1
Buddha in a Traffic Jam (2016)                      4.000000              2
Saheb Biwi Aur Gangster (2011)                      4.000000              5
...                                                      ...            ...
Frangi                                              1.000000              2
Khamosh (1985)                                      1.000000              1
Lakeer - Forbidden Lines (2004)                     1.000000              2
Kismat (2004)                                       1.000000              4
Tom  Dick And Harry (2006)                          0.875000              4
Khushi (2003)                                       0.875000              4
Creature (2014)                                     0.833333              3
Ram Gopal Varma Ki Aag (2007)                       0.833333              3
Yeh Raaste Hain Pyaar Ke (2001)                     0.833333              3
Suhaag (1994)                                       0.750000              2
Qayamat: City Under Threat (2003)                   0.750000              2
Aiyyaa (2012)                                       0.666667              3
Dil Ne Jise Apna Kahaa (2004)                       0.666667              3
Armaan (2003)                                       0.500000              1
Shiva (2006)                                        0.500000              1
Baaghi 2 (2018)                                     0.500000              1
Bhai (1997)                                         0.500000              1
Bhoot Unkle (2006)                                  0.500000              1
Chura Liyaa Hai Tumne (2003)                        0.500000              2
D (2005)                                            0.500000              1
Maine Dil Tujhko Diya (2002)                        0.500000              1
Dhund: The Fog                                      0.500000              1
Race 3 (2018)                                       0.500000              1
Elaan (2005)                                        0.500000              1
Naughty @ 40 (2011)                                 0.500000              1
The Train: Some Lines Shoulder Never Be Crossed...  0.500000              2
Ghost (2012)                                        0.500000              1
Hawa (2003)                                         0.500000              1
Jaane Hoga Kya (2006)                               0.500000              1
road (2002)                                         0.500000              1

[779 rows x 2 columns]

In [61]:
movie_mat=df.pivot_table(index='user_id',columns='title',values='rating')

In [62]:
movie_mat

title,100 Days (1991),1920 (2008),1920: Evil Returns (2012),1942: A Love Story (1994),2 States (2014),3 A.M (2014),3 Idiots (2009),36 China Town (2006),404: Error Not Found (2011),7 Khoon Maaf (2011),...,Youngistaan (2014),Yuva (2004),Zakhm (1998),Zameen (2003),Zanjeer (1973),Zeher (2005),Zid (2014),Zindagi Na Milegi Dobara (2011),Zokkomon (2011),road (2002)
user_id,,,,,,,,,,,,,,,,,,,,,
172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282180,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282199,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282206,NaN,NaN,NaN,NaN,NaN,NaN,4.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282309,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282717,NaN,NaN,NaN,NaN,NaN,NaN,4.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282853,NaN,NaN,NaN,NaN,NaN,NaN,4.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
283000,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283095,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
rating.sort_values('num of rating',ascending=False).head()

                                                      rating  num of rating
title
3 Idiots (2009)                                     3.928623           1394
Children of Heaven  The (Bacheha-Ye Aseman) (1997)  3.991667            900
Namesake  The (2006)                                3.700516            581
Bhaji on the Beach (1993)                           3.553030            396
PK (2014)                                           3.762755            392

In [64]:
movie_user_rating=movie_mat['3 Idiots (2009)']

In [65]:
similar=movie_mat.corrwith(movie_user_rating)

In [66]:
corr_movie=pd.DataFrame(similar,columns=['correlation'])

In [67]:
corr_movie.dropna(inplace=True)

In [68]:
corr_movie

                                         correlation
title
1920 (2008)                                 0.397467
1920: Evil Returns (2012)                   1.000000
1942: A Love Story (1994)                  -0.727607
2 States (2014)                             0.466137
3 Idiots (2009)                             1.000000
36 China Town (2006)                        0.570352
7 Khoon Maaf (2011)                        -0.029864
Aaja Nachle (2007)                          0.300846
Aakrosh (1980)                              0.755929
Aakrosh (2010)                              0.401363
Aalavandhan (2001)                          0.617153
Aamdani Atthanni Kharcha Rupaiya (2001)     0.628808
Aankhen (1993)                             -0.987829
Aankhen (2002)                             -0.049823
Aarakshan (2011)                            0.585369
Aashiqui 2 (2013)                           0.522977
Action Jackson (2014)                       0.000000
Action Replayy (2010)                      -0.103418
Ae Dil Hai Mushkil (2016)                   0.069338
Aflatoon (1997)                             0.639602
Agent Vinod (2012)                          0.198901
Agneepath (2012)                            0.414642
Airlift (2016)                              0.697758
Aitraaz (2004)                              0.035424
Aiyaary (2018)                              0.000000
Ajab Prem Ki Ghazab Kahani (2009)           0.012588
Ajnabee (2001)                             -0.550893
Aks (2001)                                  0.700885
Aladin (2009)                               0.891246
Albela (2001)                               0.654654
...                                              ...
Tubelight (2017)                           -0.779978
Tum Bin (2001)                             -0.987829
Udaan (2010)                                0.513267
Udta Punjab (2016)                          0.301374
Ugly (2013)                                 0.079022
Umrao Jaan (2006)                          -1.000000
Vaah! Life Ho Toh Aisi! (2005)              0.242624
Vaastav: The Reality (1999)                -0.629298
Veer Zaara (2004)                           0.318925
Viceroy's House (2017)                      0.801784
Vicky Donor (2012)                          0.159965
Villain  The (Ek Villain) (2014)            0.447221
Virasat (1997)                             -0.795455
Vishwaroopam (2013)                         0.636020
Wake Up Sid (2009)                          0.415788
Wanted (2009)                               0.599841
Waqt Hamara Hai (1993)                     -0.052414
Waqt: The Race Against Time (2005)          0.237028
Welcome (2007)                              0.752289
Welcome to Sajjanpur (2008)                 0.866025
Y.M.I. - Yeh Mera India (2009)              1.000000
Yaadein (2001)                              0.598835
Yeh Jawaani Hai Deewani (2013)              0.469996
You Must Be Scared (2006)                  -0.240192
Yuva (2004)                                 0.240931
Zakhm (1998)                               -1.000000
Zameen (2003)                               0.511891
Zanjeer (1973)                              0.222222
Zeher (2005)                                1.000000
Zindagi Na Milegi Dobara (2011)             0.463296

[576 rows x 1 columns]

In [69]:
corr_movie.sort_values('correlation',ascending=False).head()

                                    correlation
title
Sehar (2005)                                1.0
Angry Indian Goddesses (2015)               1.0
MP3: Mera Pehla Pehla Pyaar (2007)          1.0
Chameli Ki Shaadi (1986)                    1.0
Mahakaal (The Monster) (1993)               1.0

In [70]:
rating.head()
print(type(corr_movie))

<class 'pandas.core.frame.DataFrame'>

In [72]:
corr_movie=corr_movie.join(rating['num of rating'])

In [73]:
corr_movie[corr_movie['num of rating']>100].sort_values('correlation',ascending=False)

                                                    correlation  num of rating
title
3 Idiots (2009)                                        1.000000           1394
Salaam Bombay! (1988)                                  0.686886            362
Paint It Yellow (Rang De Basanti) (2006)               0.653787            231
Dangal (2016)                                          0.650391            177
Children of Heaven  The (Bacheha-Ye Aseman) (1997)     0.623709            900
Like Stars on Earth (Taare Zameen Par) (2007)          0.620395            316
Wanted (2009)                                          0.599841            187
PK (2014)                                              0.597903            392
Sholay (1975)                                          0.584920            169
The Lunchbox (2013)                                    0.582370            352
Sometimes Happiness  Sometimes Sorrow (Kabhi Kh...     0.565292            129
Swades: We  the People (Our Country) (2004)            0.509740            163
Gangs of Wasseypur (2012)                              0.503292            167
My Name is Khan (2010)                                 0.501572            295
Chak De India! (2007)                                  0.492879            138
Ghajini (2008)                                         0.481675            132
Barfi! (2012)                                          0.463905            131
Zindagi Na Milegi Dobara (2011)                        0.463296            136
Kahaani (2012)                                         0.389798            224
Jab We Met (2007)                                      0.386074            137
Bhaji on the Beach (1993)                              0.374634            396
Dilwale Dulhania Le Jayenge (1995)                     0.358581            153
Veer Zaara (2004)                                      0.318925            107
Om Shanti Om (2007)                                    0.263540            144
Jodhaa Akbar (2008)                                    0.218658            111
Asoka (Ashoka the Great) (2001)                        0.179990            113
Namesake  The (2006)                                   0.175230            581
Bandit Queen (1994)                                    0.175047            385
Fire (1996)                                            0.173461            152
D.C.H. (Dil Chahta Hai) (2001)                        -0.004946            120

In [76]:
def predict_movie(movie_name):
    movie_user_rating=movie_mat[movie_name]
    similar_to_movie=movie_mat.corrwith(movie_user_rating)
    corr_movie=pd.DataFrame(similar_to_movie,columns=['correlation'])
    corr_movie.dropna(inplace=True)
    corr_movie=corr_movie.join(rating['num of rating'])
    prediction=corr_movie[corr_movie['num of rating']>100].sort_values('correlation',ascending=False)
   
    return prediction

In [87]:
predict_movie('Zindagi Na Milegi Dobara (2011)').head(10)

                                             correlation  num of rating
title
Zindagi Na Milegi Dobara (2011)                 1.000000            136
Jab We Met (2007)                               0.594199            137
Sholay (1975)                                   0.586670            169
Chak De India! (2007)                           0.572485            138
My Name is Khan (2010)                          0.496612            295
3 Idiots (2009)                                 0.463296           1394
Paint It Yellow (Rang De Basanti) (2006)        0.460053            231
Swades: We  the People (Our Country) (2004)     0.444668            163
Jodhaa Akbar (2008)                             0.407355            111
Om Shanti Om (2007)                             0.385296            144